/*
 * -------------------------------------------------
 *  peterk87/nf-virontus Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

params {
  input = ''
  outdir = 'results'
  // Reference genome params
  genome = ''
  fasta = '' // reference genome FASTA
  gff = '' // reference genome GFF
  primer_bed = '' // primer scheme BED file
  // convenience params for SARS-CoV-2 analysis
  scov2 = false // set SARS-CoV-2 as reference genome 
  freed = false // trim primers for 1200bp amplicon Freed 2020 protocol
  artic_v3 = false // trim primers for ARTIC V3 protocol 

  // Medaka variant calling parameters
  medaka_model = 'r941_min_high_g360'
  medaka_chunk_len = 800
  medaka_chunk_overlap = 400
  // iVar parameters
  ivar_trim_noprimer = false

  // variant filtering parameters
  minor_allele_fraction = 0.25
  major_allele_fraction = 0.75
  // consensus sequence parameters
  low_coverage = 10

  // Phylogenetic tree params
  tree = false // generate phylogenetic tree from consensus sequences with MAFFT and IQ-TREE
  iqtree_model = 'GTR'
  tree_extra_fasta = false

  // Kraken2
  kraken2_db = ''
  skip_kraken2 = false
  subtract_host = true

  // Skipping processes
  skip_nanoplot = false

  // saving data
  save_reference = true
  save_cat_reads = true

  // Boilerplate options
  tracedir = "${params.outdir}/pipeline_info"
  publish_dir_mode = 'copy'
  name = false
  help = false
  monochrome_logs = false
  container = 'peterk87/nf-virontus:2.0.0'
  multiqc_config = ''
  enable_conda = false
  singularity_pull_docker_container = false

  // SLURM cluster options
  slurm_queue = null
  slurm_queue_size = 100
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
includeConfig 'conf/genomes.config'
process.container = params.container
// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

profiles {
  conda {
    process.conda = "$projectDir/environment.yml"
    params.enable_conda = true
  }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled = true
    // Avoid this error:
    //   WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
    // Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351
    // once this is established and works well, nextflow might implement this behavior as new default.
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  slurm {
    includeConfig 'conf/slurm.config'
  }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
  name = 'peterk87/nf-virontus'
  description = 'Nextflow workflow for Nanopore sequence analysis of viruses'
  homePage = 'https://github.com/peterk87/nf-virontus'
  author = 'Peter Kruczkiewicz'
  version = '2.0.0'
  mainScript = 'main.nf'
  nextflowVersion = ">=20.04.0"
}

// If parent path exists, then return `p`, else return null
def checkParentExists(p) {
  if (p == null || p instanceof Boolean) {
    return null
  }
  f = new File(p)
  if ((new File(f.parent)).exists()) {
    p
  } else {
    null
  }
}

// If path exists, return `p`, else return null
def checkPathExists(p) {
  if (p == null || p instanceof Boolean) {
    return null
  }
  f = new File(p)
  if (f.exists()) {
    p
  } else {
    null
  }
}

// Try to get a system environment variable value with some key. If the key
// doesn't exist, then return a default value
def getEnvValue(envKey, defaultValue = null) {
  envMap = new HashMap(System.getenv())
  if (envMap.containsKey(envKey)) {
    envMap[envKey]
  } else {
    defaultValue
  }
}

// Borrowed from nf-core tools create
// Function to ensure that resource requirements don't go beyond a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
