/*
 * Config file defining viral reference genomes
 */

params {
  // Genome reference file paths
  genomes {
    'MN908947.3' {
      fasta = 'https://github.com/CFIA-NCFAD/nf-test-datasets/raw/master/genome/MN908947.3/MN908947.3.fa'
      gff = 'https://gist.github.com/peterk87/e4ea8401793ae22896df003063b1d980/raw/d40c48c9fbf22c47f2b903e45e858750df587bf7/MN908947.3-orf1a-orf1b-gene-split.gff'
      primer_schemes {
        artic_v3 = 'https://github.com/artic-network/primer-schemes/raw/master/nCoV-2019/V3/nCoV-2019.primer.bed'
        artic_v4 = 'https://github.com/artic-network/primer-schemes/raw/master/nCoV-2019/V4/SARS-CoV-2.scheme.bed'
        artic_v4_1 = 'https://github.com/artic-network/primer-schemes/raw/master/nCoV-2019/V4.1/SARS-CoV-2.scheme.bed'
        freed = 'https://github.com/CFIA-NCFAD/nf-test-datasets/raw/master/genome/MN908947.3/primer_schemes/Freed_2020.bed'
        neb_primers = 'https://gist.github.com/peterk87/f5d4fef027bae5c971d0afd5f24b78ad/raw/9709576cef0ff67cb347548492d01f9a89c4e55e/neb_vss2b.primer.MN908947.3.bed'
      }
    }
  }
}
