/*
 * Config file defining viral reference genomes
 */

params {
  // Genome reference file paths
  genomes {
    'MN908947.3' {
      fasta = 'https://github.com/peterk87/nf-test-datasets/raw/master/genome/MN908947.3/MN908947.3.fa'
      gff = 'https://github.com/peterk87/nf-test-datasets/raw/master/genome/MN908947.3/MN908947.3.gff'
      primer_schemes {
        artic_v3 = 'https://github.com/artic-network/primer-schemes/raw/master/nCoV-2019/V3/nCoV-2019.primer.bed'
        freed = 'https://github.com/peterk87/nf-test-datasets/raw/master/genome/MN908947.3/primer_schemes/Freed_2020.bed'
      }
    }
  }
}
